<!DOCTYPE html>
<html>

<head>
    <title>Smart Fleet Monitor</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Smart Fleet Monitor</h1>

    <h2>
        Total Vehicles:
        <span id="total">0</span>
    </h2>

    <table>

        <thead>
            <tr>
                <th>Vehicle ID</th>
                <th>Model</th>
                <th>Mileage</th>
                <th>Temperature</th>
                <th>Fuel Consumption</th>
                <th>Status</th>
                <th>Smart Status</th>
            </tr>
        </thead>

        <tbody id="vehicleTable">
        </tbody>
        <script>
fetch("/api/vehicles")
    .then(function(response) {
        return response.json();
    })
    .then(function(vehicles) {

        document.getElementById("total").textContent = vehicles.length;

        const table = document.getElementById("vehicleTable");

        vehicles.forEach(function(vehicle) {

            const row = document.createElement("tr");

            row.innerHTML =
                "<td>" + vehicle.vehicle_id + "</td>" +
                "<td>" + vehicle.model + "</td>" +
                "<td>" + vehicle.mileage + " km</td>" +
                "<td>" + vehicle.temperature + " °C</td>" +
                "<td>" + vehicle.fuel_consumption + "</td>" +
                "<td>" + vehicle.status + "</td>" +
                "<td>" + vehicle["Smart Status"] + "</td>";

            table.appendChild(row);
        });
    })
    .catch(function(error) {
        console.error("Error loading vehicles:", error);
    });
</script>
    

